.search-column{
    background-color:	#D3D3D3;
}



.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}



span.severe{
    padding: 4px;
    background-color: rgba(222, 92, 216, 0.901);
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}


span.favorable{
    padding: 3px;
    background-color: rgba(0, 255, 47, 0.867);
    color:white;
}

